.auth-page{
    min-height:100vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--main-background-color);
    cursor: pointer;
}

.auth-modal{
    width:20rem;
    padding:1rem;
    background: var(--third-background-color);
    border-radius: .8rem;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top-style: solid;
    border-width: 6px;
    border-color: var(--main-theme-color);
    box-shadow:  0 5px 15px #14234b;
}

.auth-modal h2{
    padding-bottom:1rem;
    color: var(--first-text-color);
     font-size: 2rem;

    /* font-weight: 500; */
}

.input-container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
    padding-bottom:1rem;
   
}


.input-container label {
    color:var(--second-text-color);
    font-weight: 500;
    padding-bottom: .3rem;
    font-size: 1.2rem;
}

.input-container input{
padding:.5rem;
width:15rem;
/* min-width:25rem; */
background:var(--secondary-background-color);
color:  black;
border-radius:.3rem;
border-style: none;
font-size: 1rem;
}

.auth-btn-container{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items:flex-start;
}

.auth-modal button{
    padding: 1rem;
    border-radius: 5px;
    background: var(--main-theme-color);;
    line-height: .3;
    font-size: 1.2rem;
    color: var(--third-text-color);
    letter-spacing: .1rem;
    text-align: center;
    border:none;
    /* width:7rem; */
    margin:1rem .5rem 1rem .5rem;
}

.auth-modal button:hover{
    background: #104e7a;
}

.auth-modal button:nth-child(2){
    background: #3b82f6;
    color:white
}

.auth-modal button:nth-child(2):hover{
    background: #104e7a;
    color:var(--third-text-color);
}


.auth-toggle{
    padding-top: .5rem;
    font-size: 1.2rem;
    color:var(--first-text-color);
}

.auth-toggle span{
    color:var(--main-theme-color);
    font-weight: bold;
}


@media(min-width:500px){

    .auth-modal{
        width:30rem;}

        .input-container input{
            padding:.5rem;
            width:25rem;}
    /* .input-container input{} */
        /* min-width:20rem;} */
}