.result-page{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    background:#f1f5f8;
}

.result-page > h2{
    margin-top:2rem;
    color:#252f38
}

.result-page h3{
   margin-top:1rem;
   color:#328fdb
}

.question-sec{
    background:#f1f5f8;
}
.question{
    border-radius:8px;
    background: white;
    margin:3rem 3rem;
    padding:1rem;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

.question ul{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

.options{
padding: .5rem;
border-radius: 5px;
background:  #8bcbf9;
/* buttonne-height: .3; */
font-size: .9rem;
color: #252f38;
letter-spacing: .1rem;
text-align: center;
border:none;
min-width:40vw;
margin:2rem 0rem 1rem 0rem;
/* buttonst-style-type: none; */
}




.right-ans{
background: rgb(83, 199, 87);
 padding: .5rem;
border-radius: 5px;
font-size: .9rem;
color: white;
letter-spacing: .1rem;
text-align: center;
border:none;
min-width:40vw;
margin:2rem 0rem 1rem 0rem;
}

.navigate{
padding: .5rem;
    border-radius: 5px;
    background:#ffb100;
    color:#252f38;
    font-size: .9rem;
    font-weight:600;
    letter-spacing: .1rem;
    text-align: center;
    border:none;
    min-width:40vw;
    margin:2rem 0rem 3rem 0rem;
}


.navigate:hover{
    background: #252f38;
    color:white;
}