.result-page{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    background:var(--main-background-color);
}

.result-page > h2{
    margin-top:2rem;
    color:var(--first-text-color);
}

.result-page h3{
   margin-top:1rem;
   color:ver(--main-theme-color)
}

.question-sec{
    background:var(--main-background-color);
}
.question{
    border-radius:8px;
    background: --var(--first-text-color);
    margin:3rem 3rem;
    padding:1rem;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

.question h2{
    color:var(--first-text-color);
}

.question ul{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

.options{
padding: .5rem;
border-radius: 5px;
background:  var(--main-theme-color);
/* buttonne-height: .3; */
font-size: .9rem;
color: white;
letter-spacing: .1rem;
text-align: center;
border:none;
min-width:30vw;
margin:2rem 0rem 1rem 0rem;
/* buttonst-style-type: none; */
}




.right-ans{
background: rgb(83, 199, 87);
 padding: .5rem;
border-radius: 5px;
font-size: .9rem;
color: white;
letter-spacing: .1rem;
text-align: center;
border:none;
min-width:30vw;
margin:2rem 0rem 1rem 0rem;
}

.wrong-ans{
    background: rgba(242, 6, 6, 0.701);
 padding: .5rem;
border-radius: 5px;
font-size: .9rem;
color: white;
letter-spacing: .1rem;
text-align: center;
border:none;
min-width:30vw;
margin:2rem 0rem 1rem 0rem;
}

.not-answer-icon{
    color:#ffb100;
    padding-right: .8rem;
}

.right-icon{
    color:rgb(83, 199, 87);
    padding-right: .8rem;
}

.wrong-icon{
    color:rgba(242, 6, 6, 0.701);
    padding-right: .8rem;
}

.navigate{
padding: .5rem;
    border-radius: 5px;
    background:#ffb100;
    color:#252f38;
    font-size: .9rem;
    font-weight:600;
    letter-spacing: .1rem;
    text-align: center;
    border:none;
    min-width:40vw;
    margin:2rem 0rem 3rem 0rem;
}


.navigate:hover{
    background: #252f38;
    color:white;
}