.Navbar{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:1.5rem 2rem;
    position: fixed;
    top: 0px;
    left: 0px;
    width:100%;
    z-index:10;
    background:var(--main-background-color);
    padding:2.5rem;
}


.Navbar a{
    color:black;
    text-decoration: none;
}


.Navbar h1{
    font-size:3rem;
    color:var( --first-text-color);
}
.Navbar h1 span{
    color:var(--main-theme-color);
}

.Navigation{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.Navigation i {
    font-size:2.7rem;
    padding-right:1.3rem;
    color: var(--first-text-color);
}

.Navigation i:hover{
    color:var(--main-theme-color);
}

.Navigation button{
    padding: 1rem;
    border-radius: 5px;
    background: var(--main-theme-color);
    line-height: .3;
    font-size: 1.5rem;
    color:  var(--third-text-color);
    letter-spacing: .1rem;
    text-align: center;
    border:none;
}

@media(max-width: 500px){

    .Navbar{
        padding:1rem;
    }
    .Navigation i {
        font-size:1.5rem;
        padding-right:.5rem;
    }

    .Navigation button{
        padding: .7rem;
        font-size:1rem;
    }

    .Navbar h1{
        font-size:2rem;
    }
}