.contest-page{
    display:flex;
    justify-content: center;
    align-items: center;
    min-height:100vh;
    background: var(--main-background-color);
    cursor: pointer;
}

.question-sec{
    padding:1rem;
    /* height:75vh; */
    width:75vw;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items:center;
    background:(--third-background-color);
    border-radius: 7px;
}

.question-sec h2{
    padding-top:2rem;
    font-size:2rem;
    text-align: center;
    color:var(--first-text-color)
}

.question-sec ul{
   display:flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.question-sec ul button {
    padding: .5rem;
    border-radius: 5px;
    background: #60a5fa;
    /* buttonne-height: .3; */
    font-size: 1.2rem;
    color: #252f38;
    letter-spacing: .1rem;
    text-align: center;
    border:none;
    min-width:40vw;
    width:100%;
    margin:2rem 0rem 1rem 0rem;
    /* buttonst-style-type: none; */
}

.question-sec ul button:hover{
    background:var(--main-theme-color);
    color:white;
}

.question-navigation{
    display: flex;
    justify-content: space-between;
    width:40vw;
}

.question-navigation button{
    padding: .9rem;
    border-radius: 5px;
    background:#ffb100;
    color:#252f38;
    line-height: .3;
    font-size: 1.2rem;
    font-weight:600;
    letter-spacing: .1rem;
    text-align: center;
    border:none;
    width:7rem;
    margin:1rem .5rem 0rem .5rem;  
}



.question-navigation button:nth-child(1):hover {
  background: rgba(242, 6, 6, 0.701);
  color:white;
}

.question-navigation button:nth-child(2):hover {
    background: #252f38;
    color:white;
  }

  #active-ans{
    background: #303d49;
    color:white;
}


  /* @media(min-width:750px){
    .question-navigation{
      
    }
  } */

